.chatContainer {
    display: flex;
    flex-direction: column;
    height: 95svh;
}

.totalHistory {
    flex: 1;
    overflow-x:hidden;
    width: 50%;
    max-height: 34.4em;
    overflow-y: auto;
}

.history {
    flex: 1;
    overflow-y: auto;
    overflow-x:hidden;
    width: 100%;
}

.chatbar {
    display: flex;
    padding-top: 1em;
    position: sticky;
    justify-content: center;
    bottom: 0;
    width: 100%;
}

.text{
    color: white;
    font-weight: bold;
}

.historyText {
    color: white;
    font-weight: bold;
    padding-right: 2em;
}

/*!* Main container to hold sidebar and content *!*/
.container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

/*!* Sidebar styling *!*/
.sidebar {
    width: 20em; /* Fixed width for sidebar */
    background-color: #333; /* Dark background */
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

/*!* Content area styling *!*/
.content {
    flex: 1; /* Take remaining space */
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    overflow-y: auto; /* Make content scrollable if it overflows */
}

.dropdown {
    background-color: #e6e6e6;
    border-radius: 1.5em;
    padding-left: .7em;
    padding-right: .7em;
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: .85em;
}

.row {
    padding-top:1.5em;
    padding-bottom:.5em;
}

.rowModel {
    padding-bottom: .5em;
}

