.chatContainer {
    display: flex;
    flex-direction: column;
    height: 95svh; /* Full viewport height */
}

.totalHistory {
    flex: 1;
    overflow-x:hidden;
    width: 50%;
    max-height: 34.4em; /* Set this to the height you want */
    overflow-y: auto;
    /*padding: 1em; !* Optional: space around the messages *!*/
}

.history {
    flex: 1;
    overflow-y: auto;
    overflow-x:hidden;
    width: 100%;
    /*padding: 1em; !* Optional: space around the messages *!*/
}

.chatbar {
    display: flex;
    /*padding-bottom: 2em;*/
    padding-top: 1em;
    position: sticky;
    justify-content: center;
    bottom: 0;
    width: 100%;
}



.text{
    color: white;
    font-weight: bold;
}

/*!* Main container to hold sidebar and content *!*/
.container {
    display: flex;
    /*height: 100vh; !* Full viewport height *!*/
    /*overflow: hidden; !* Prevent overflow *!*/
}

/*!* Sidebar styling *!*/
.sidebar {
    width: 20em; /* Fixed width for sidebar */
    background-color: #333; /* Dark background */
    color: white;
    padding: 20px;
    box-sizing: border-box;
    /*overflow-y: auto; !* Make content scrollable if it overflows *!*/
}

/*!* Content area styling *!*/
.content {
    flex: 1; /* Take remaining space */
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    overflow-y: auto; /* Make content scrollable if it overflows */
}

.dropdown {

    background-color: #e6e6e6;
    border-radius: 1.5em;
    padding-left: .7em;
    padding-right: .7em;
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: .85em;

}

.row {
    padding-top:1.5em;
    padding-bottom:.5em;
}

